*{
    margin: 0;
    padding: 0;;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 1rem;

    webkit-box-shadow: 0px 2px 10px -9px rgba(0, 0, 0, 0.81);
    -moz-box-shadow: 0px 2px 10px -9px rgba(0, 0, 0, 0.81);
    box-shadow: 0px 2px 10px -9px rgba(0, 0, 0, 0.81);
}

.logo {
    max-width: 50%;
}

.logo img {
    max-width: 100%;
}


.profile-img img {

    max-width: 100%;
}