@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

*{
    margin: 0;
    padding: 0;;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    
}

/*Container*/
.container {
    overflow: hidden;
   
}

/*Header*/

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 1rem;

    -webkit-box-shadow: 0px 2px 10px -9px rgba(0, 0, 0, 0.81);
    -moz-box-shadow: 0px 2px 10px -9px rgba(0, 0, 0, 0.81);
    box-shadow: 0px 2px 10px -9px rgba(0, 0, 0, 0.81);
}

.logo {
    max-width: 50%;
}

.logo img {
    max-width: 100%;
}




/* Menu profile */

.menu {
    width: 65%;  
    height: 100vh;
    background-color: #222d32; 
    color: #fff;
    position: absolute;
    left: -65%;
}

.profile {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-left: 1rem;
}

.profile-img {
    display: block;
    width: 55px;   
    padding-right: 1rem;
}

.profile-img img {

    border-radius: 50%;
    max-width: 100%;
}

.status {
    text-transform: capitalize;
    display: flex;
    align-items: center;
}

.status::before {
    content: '';
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
    background-color: green;
    margin-right: 5px;
}

/*MENU LIST*/
.link-nav {
    color: #fff;
    text-decoration: none;
    padding: 1rem;
    display: block;
    position: relative;
}

.link-nav.active::before {
    content: "";
    background-color: #3498db;
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.link-nav-arrow::after {
    content: '\f107';
    font-weight: 900;
    font-family: "Font Awesome 5 Pro";
    margin-left: 1.5rem;

    display: inline-block;
    transform: rotate(90deg);
}


.link-nav-arrow.arrow::after {

    transform: rotate(0);
}

.list-nav {
    padding-top: 1rem;
}

.icon {
    width: 1.5rem;
}

/* MENU SECUNDÁRIO */

.hide {
    display: none;
}

.item-nav-second a {
    color: #fff;
    text-decoration: none;
    padding: 0 0 1rem 2.7rem;
    display: block;
}

/* MENU HAMBURGUER */
.__move .menu{
    left: 0;
}

/*CONTENT*/
.content {
    position: relative;
    left: 0;
    height: 100vh;
}

.__move .content::before {
    content: "";
    background-color: black;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    opacity: .5;
}

.__move .content {
    left: 65%;
}



/* SVG */

/*
O que é SVG? (Scalable Vector Graphic)
https://developer.mozilla.org/pt-BR/docs/Web/SVG
https://upload.wikimedia.org/wikipedia/commons/a/a0/Svg_example1.svg
https://upload.wikimedia.org/wikipedia/commons/e/e8/Svg_example3.svg
https://upload.wikimedia.org/wikipedia/commons/c/c9/Svg_example4.svg
https://upload.wikimedia.org/wikipedia/commons/1/18/SVG_example7.svg
http://starkravingfinkle.org/projects/demo/svg-bubblemenu-in-html.xml
*/

/* VANTAGES DE SE UTILIZAR O SVG */
/* 
- (Ganho de qualidade ao aumentar ou diminuir)
- Podemos alterar inserindo/mexendo no style;
- Fácil de Editar (Ilustrator, Corel Draw, Inkscape, FIGMA)
- A qualidade do PNG ou JPG (Comuns) são a partir do momento que são confeccionadas, 
enquanto que no SVG a qualidade é a mesma, mesmo que aumentando ou diminuindo
a imagem; */

/* TESTANDO A MUDANÇA DE ESTILO DO SVG ATRAVÉS DO CSS*/

.firstline {
    stroke: red;
    stroke-width: 10px;
}


